{
  "env": {
    "es6": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    },
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "rules": {
    "camelcase": ["error", { "properties": "never" }],
    "curly": "error",
    "default-case": "error",
    "eol-last": "error",
    "eqeqeq": "error",
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "key-spacing": ["error", { "beforeColon": false, "afterColon": true }],
    "linebreak-style": [2, "unix"],
    "newline-before-return": "error",
    "no-alert": "error",
    "no-confusing-arrow": "off",
    "no-console": "warn",
    "no-restricted-syntax": "off",
    "no-shadow": "error",
    "no-trailing-spaces": "error",
    "no-underscore-dangle": "off",
    "no-unused-expressions": "off",
    "no-unused-vars": "error",
    "no-var": "error",
    "object-curly-spacing": ["error", "always"],
    "padded-blocks": "off",
    "prefer-const": "warn",
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "semi": "error",
    "space-before-blocks": "error",
    "space-infix-ops": "error",
    "spaced-comment": ["error", "always", { "exceptions": ["-"] }]
  }
}
